@{
    ViewBag.Title = "Data Classification";
}

<div class="jumbotron">
    <h1>Data Classification</h1>
    <p class="lead">This web application will identify the fields containing sensitive information in a data source.</p>
</div>